.sidebar {
    width: 40%;
    height: 659px;
    margin-top: 0%;

  }

  .navbar {
    width: 50%;
    height: 120px;
    
  }
@media screen and (min-width: 768px) {
    .layout {
      display: flex;
    }
  
    .sidebar {
      width: 30%;
      height: 659px;
      margin-top: 0%;

    }
  
    .navbar {
      width: 70%;
      height: 120px;
      
    }
  
    main {
      flex: 1;
    }
  }
  
  @media screen and (max-width: 767px) {
    .layout {
      display: block;
    }
  
    .sidebar {
      width: 10%;
    }
  
    .navbar {
      width: 90%;
    }
  }
  

@media screen and (min-width: 768px) {
    .layout {
      display: flex;
    }
  
    .sidebar {
      width: 10%;
    }
  
    .navbar {
      width: 90%;
    }
  
    main {
      flex: 1;
    }
  }
  
  /* Styles pour les petits écrans */
  @media screen and (max-width: 767px) {
    .layout {
      display: block;
    }
  
    .sidebar {
      width: 10%;
    }
  
    .navbar {
      width: 90%;
    }
  }
  